openapi: 3.1.0
info:
  title: Exact Online REST / OData CRM System API
  description: Partial OpenAPI for the Exact Online REST/OData API (v1). Endpoints are drawn from the official documentation at https://start.exactonline.nl/docs/HlpRestAPIResources.aspx covering CRM, Sales, Purchase, Financial, Logistics, and System resources. The full API exposes hundreds of OData entity sets; this spec covers the most commonly used entities. Authentication is OAuth 2.0 with regional auth endpoints.
  version: 1.0.0
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
  license:
    name: Proprietary
servers:
- url: https://start.exactonline.nl/api/v1
  description: Netherlands
- url: https://start.exactonline.co.uk/api/v1
  description: United Kingdom
- url: https://start.exactonline.be/api/v1
  description: Belgium
- url: https://start.exactonline.de/api/v1
  description: Germany
- url: https://start.exactonline.com/api/v1
  description: International
security:
- oauth2: []
tags:
- name: System
paths:
  /current/Me:
    get:
      summary: Get current user and division
      operationId: getCurrentMe
      tags:
      - System
      responses:
        '200':
          description: Current user info
  /{division}/system/Divisions:
    parameters:
    - name: division
      in: path
      required: true
      schema:
        type: integer
    get:
      summary: List divisions accessible to current user
      operationId: listDivisions
      tags:
      - System
      responses:
        '200':
          description: Divisions
  /{division}/system/AllDivisions:
    parameters:
    - name: division
      in: path
      required: true
      schema:
        type: integer
    get:
      summary: List all licensed divisions
      operationId: listAllDivisions
      tags:
      - System
      responses:
        '200':
          description: All divisions
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://start.exactonline.nl/api/oauth2/auth
          tokenUrl: https://start.exactonline.nl/api/oauth2/token
          scopes: {}
